* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: max-content;
  max-width: 350px;
  min-height: max-content;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
input {
  width: 100%;
  padding: 10px 8px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10;
}
input:active {
  outline: none;
}
.info,
.qrcode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

}
.info {
  padding-bottom: 1rem;
}
.qrcode {
  padding-top: 1rem;
  display: none;
}
button, a {
  padding: 10px 15px;
  border-radius: 0.5rem;
  background: rgb(0, 119, 255);
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  transition: all 100ms linear;
}
button:hover, a:hover,
button:active, a:active {
  background: rgb(0, 102, 219);
}
h2 {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 12px;
  width: 100%;
}
